Se eu quiser escrever nesse notebooks eu preciso alterar ali na barra de cima, selecionar markdown no lugar de code.

Pra executar o codigo eu posso usar Shift+enter ou alt+enter
* shift + enter executa e pula pro proximo
* alt   + enter executa e adiciona um na sequencia 


 Quando tiver fazendos os exercicios é bom usar o alt+enter pra não perder o resultado esperado
 
 Esses campos de textos servem como markdown tb
 
 Pra deletar um campo é só selecionar a celula que eu quero deletar e aperta dd

In [13]:
3+3

6

In [2]:
print(1+1)

2

In [14]:
'Shift+enter'

'Shift+enter'

---
### Criando Enviroments
https://conda.io/projects/conda/en/latest/user-guide/tasks/manage-environments.html#creating-an-environment-with-commands

Na anaconda, a gente consegue trabalhar com "maquinas virtuais", alterando as configurações do que tem nessas maquina.
Pra criar uma a gente usa o comando 

``conda create --name NomedaMaquina Bibliteca``

Ai no exemplo do video o cara cria uma usando o numpy ou seja:

``conda create --name fluffy numpy``

Isso cria a maquina, muda o inicio que fica no bash, e permite trabalhar em cima sem problemas,
Se eu tento importar por exemplo o pandas nessa maquina ele não aceita.
Funciona como o docker mais ou menos.
Podemos usar 

``conda create -n Nome Biblioteca``

Funciona da mesma forma.
Depois que criou a maquina, pra ativar tem que usar o comando

``conda activate NomedaMaquina``

Ai ele começa a trabalhar nesse maquina.
Pra desativar é só usar

``conda desactivate nomedamaquina``

E ele retorna pra maquina base

Isso é util para criar environments com uma versão diferente do pyhton, seguindo a mesma logica de colocar só uma biblioteca de funçoes junto ou instalando delas separados

``conda create -n myphyton3version python=3.5 anaconda ``

Aqui ele vai instalar todos os pacotes do anaconda, na versão 3.5 do pyhton, depois que ativar da pra testar digitando ``python`` que o TTY avisa qual a versão da rodando, não precisa ser instalado todo o anaconda, pode ser só o numpy por exemplo

Depois que eu criei todos os ambientes que eu quero, eu consigo ver quais estão criados com o comando

``conda info --envs``


---

### Python Crash Course
#### Operações Matematicas 

São dois tipos de numero, int e float

- int é inteiro
    - 1,2,3,4
- float é float
    - 1.0,2.5,3.4

- Operações matematicas são feitas normalmente
    - 1 + 1, 2 * 3, 1 /2 , 2 ** 4 
    - Python interpreta na sequencia, ou seja, 
        - 2 + 3 * 5 + 5
        
        é diferente de 
        
        
        - (2 + 3) * (5 +5)
        
        Usar parentes para ordenar o momento que as operações ocorrem.


    - 4 % 2 retorna o que sobra da divisão,
        - Isso é util pra saber se numero é par por exemplo.

In [1]:
4%2

0

In [2]:
5%2

1

In [3]:
2//1

2

In [4]:
8//2

4

## Python Crash Course
### Variaveis

Funcionama só colocando o nome da variavel e um sinal de igual para ela guardar o conteudo que vem depois do igual

``var = 2 ``

Depois quando eu quiser chamar a variaveis com o conteudo todo é só usar o nome que foi digitado anteriormente.
As operações de recursão tambem funcionam,
Eu consigo reutilizar a variavel nela mesma para alterar o valor que ela tem dentro.

`` x = x+x ``

Por exemplo

nome de variaveis não podem começar com numeros nem simbolos, começar com letra minuscula, pra usar dos nomes usar um underline

In [5]:
var = 2

In [6]:
var

2

In [7]:
x = 3
y = 5

In [9]:
x * y

15

In [10]:
x = x*x

In [11]:
x

9

In [12]:
x += 2

In [13]:
x

11

## Python Crash Course
### Strings

Começar com ' ' ou com " "
Podemos usar aspas simples dentro das aspas duplas

chamando só a variavel ele imprime na tela com as aspas que foram usadas para armazenar ela
Agora quando usa o comando print ele mostra só conteudo mesmo.

### Print
O print aceita uso de variaveis dentro dos parenteses, sem concatenar o conteudo.
Por exemplo
Declaro a variavel

``numero = 12
nome = 'lucas' ``

Depois eu junto tudo usando o format.

``
'Meu numero é {} e meu nome é {}'.format(numero, nome)``


Aqui o comando format ocupa os {} com as variavies na ordem que elas foram chamadas no comando format.
O format tb aceita tu popular dentro das {} com outras variaveis e depois declarar dentro do format o que a variavel tem, por exemplo

``'Meu numero é {um} e meu nome é {dois}, além de {um}'.format(um=numero, dois = nome)``

Isso facilita pra não se perder na hora que tiver populando um campo maior e tambem não precisa ser na ordem que elas aparecem, ou repetir as variaveis.

### Index

`` s = 'Hello'``

Indexar é o ato de pegar o valor que esta sendo ocupado.
Por exemplo

``s[2]``

Retorna l, pq l ta ocupando a posição 2 na variavel s que é populada pela string Hello.
Vale lembrar que no python os index começam no zero que é o correto
Podemos usar o sinal de negativo para trabalhar de traz pra frente na ordem. Por exemplo ``s[-1] `` retorna 'o' que é a ultima letra da String.
Pra pegar pedaços da string é utilizado ``:`` por exemplo

``s = 'abcdefghojk'``

Depois quando utilizamos 

``s[0:]`` retorna todo do conteudo da string, partindo da primeira index.

``s[:4]`` retorna ``abc`` ou seja, retorna todo o conteudo até o index 4 mas não incluindo o 4

``s[1:4] `` retorna ``bcd`` ou seja, começando do 1 retorna tudo até o index 4, mas não incluindo o 4(pq começa no zero)

### Lists

é uma sequencia de elementos dentro de [] separados por virgulas
Pode receber qualquer tipo de datatype
``[1,2,3]`` ou ``['a','b','c']``

Depois que criada para adicionar conteudo utilizamos o comando append.

``lista = ['a','b','c']
lista.append('d')``

Ai quando chamamos a lista ele vai retornar

``lista = ['a','b','c','d']``


Cada conteudo da lista tem um index, ou seja ``lista[0]`` vai retornar ``'a'`` pq o a esta salvo no primeiro espaço da lista
Podemos usar os ``:``, por exemplo ``lista[1:3]`` retorna ``['b', 'c']`` são incluindo o 3.

Para mudar o conteudo de um item da lista, usamos

``lista[1] = 'f'``

Isso faz com coloque na posição ``1`` o conteudo ``'f'`` 

Podemos aninhar listas dentro de listas, por exemplo

``n = [1,2,[3,4]]``

Quando chamamos a lista ele retorna  ``[1,2,[3,4]]``
Nessa situação para chamarmos um numero que ta dentro da lista usamos
``n[2][1]`` que retorna ``4``

Se eu não me engano isso é lista em 3d

Isso adiciona camadas na lista
por exemplo

``n = [1,2,3,[4,5,['objetivo']]]``

resulta em 
``1,2,3,[4,5,['objetivo']]``

Mas ai se quero só o objetivo

``n[3][2][0]``

Ou podemos usar o print 

``print(n[3][2][0])``

In [14]:
'1+1'

'1+1'

In [15]:
"1+1"

'1+1'

In [26]:
"121'111"

"121'111"

In [ ]:
# Strings

In [17]:
x = 'teste'

In [18]:
x

'teste'

In [19]:
print(x)

teste

In [21]:
numero = 12
nome = 'lucas'

In [22]:
'Meu numero é {} e meu nome é {}'.format(numero, nome)

'Meu numero é 12 e meu nome é lucas'

In [23]:
print('Meu numero é {} e meu nome é {}'.format(numero, nome))

Meu numero é 12 e meu nome é lucas

In [24]:
'Meu numero é {um} e meu nome é {dois}'.format(um=numero, dois = nome)

'Meu numero é 12 e meu nome é lucas'

In [25]:
print('Meu numero é {um} e meu nome é {dois}'.format(um=numero, dois = nome))

Meu numero é 12 e meu nome é lucas

In [27]:
# index

In [28]:
s = 'hello'

In [29]:
s[2]

'l'

In [30]:
s[-1]

'o'

In [31]:
s = 'abcdefghojk'

In [36]:
s[1]

'b'

In [37]:
s[0:]

'abcdefghojk'

In [35]:
s[:4]

'abcd'

In [38]:
s[1:4]

'bcd'

In [39]:
# Listas

In [41]:
lista = ['a','b','c']

In [42]:
lista

['a', 'b', 'c']

In [43]:
lista.append('d')

In [44]:
lista

['a', 'b', 'c', 'd']

In [45]:
lista[0]

'a'

In [46]:
lista[1:3]

['b', 'c']

In [47]:
lista[1] = 'f'

In [48]:
lista

['a', 'f', 'c', 'd']

In [2]:
n = [1,2,3,[4,5,['objetivo']]]

In [3]:
n[3][2][0]

'objetivo'

In [4]:
print(n[3][2][0])

objetivo

### Dicionarios

Dicionarios funcionam mais ou menos como uma lista, mas onde tu precisa setar o index.
Onde em uma lista tu poderia simplesmente declara ``lista = [1, 2, 4]`` em um dicionario precisa declara a index tambem
ou seja

``dicionario = {'index1':'conteudo1','index2':'conteudo2'}``

Não precisa ser ordenado, mas precisa ser nessa orientação, index dois pontos valor.

Depois que populado ele funciona como uma lista, podendo chamar os valores com []

``dicionario[0]`` resulta em nada, pq não tem nada populado na index 0,
 agora se a gente usar `` dicionario['index1']`` ele retorna ``'conteudo1'``.
 
 Os dicionarios podem receber qualquer tipo de dado como conteudo, podemos ter situações por exemplo usando uma lista
 
 `` dicionario = {'value':[1, 2, 3]}``
 
Nessa situação quando chamar a index value no dicionario, ele vai retornar a lista inteira. Podemos ai especificar qual posição a gente quer dessa lista

``dicionario['value'][1]`` retorna ``2``  por ser o segundo valor contido na lista que é o elemento presente na index value do dicionario.

In [7]:
dicionario = {'index1': 'conteudo1', 'index2':'conteudo2'}

In [6]:
dicionario[0] #aqui deu erro pq ele não tem nada populado na index 0

KeyError: 0

In [8]:
dicionario['index1']

'conteudo1'

In [11]:
dicionario = {'value':[1, 2, 3]}

In [13]:
dicionario['value'][1]

2

### Booleans

Temos o True e o False,
Sempre com a primeira letra maiscula

In [14]:
True

True

In [15]:
False

False

### Tuplas

Funciona de forma similar a listas, mas usa parenteses para declarar o conteudo

``tupla = (1, 2, 5)`` 

nas listas, usando o index, podemos trocar o conteudo que ta na posição. na tupla não é possivel 
Ou seja, na tupla uma vez que foi setado o conteudo não podemos mudar.

### SET
set é uma lista de elementos unicos, 
usa os {} que nem nos dicionarios mas sem o index

``s = {1,3,4}``

guarda os valores 1,3 e 4 dentro de um set.
Agora, se tentarmos passar 
``s = {1,1,1,1,1,3,3,3,3,3,4,4,4,4,4}```

Vai ficar armazenado apenas os elementos ``{1, 3 , 4}``

Podemos usar em forma de função tambem, pasando uma lista por exemplo

``set([1,1,1,1,4,4,4,4,4,4,6,6,6,6,6,6])``

E vai retornar apenas os valores unicos, ou seja
``{1, 4, 6}``

depois que temos um set formado, podemos adicionar elementos usando a função ``.add``

``s = {1,4,7}``

ai queremos adicionar um 3, ficando o seguinte 
``s.add(3)``

### Operadores de comparação

Operadores matematicos normais, ou seja
``> < <= == !=``

Podemos usar para numeros, funções e strings


 `` and (ambas condições tem que ser verdadeiras)
 or ( uma delas deve ser verdadeira)
 
 ``

In [16]:
( 1 > 3) and (3 > 4)

False

In [17]:
( 5> 3) and (3 > 4)

False

In [18]:
( 5 > 3) and (5 > 4)

True

In [1]:
(5 > 3) or (2 == 2 )

True

In [2]:
(3 < 2 ) or (2 < 1)

False

### IF ELIF ELSE 

#### IF
`` if 1 > 2:
    print('yep')``

Caso a operação seja verdadeira ele vai executar o codigo,
é importante utilziar a indententação pro python saber que aquele é o bloco que ele ta se referindo

#### ELSE

``if 1 == 2:
    print('First')
else:
    print('Last')``
   
Aqui a verificação passa pelo if, se for verdadeiro ele usa o bloco de codigo que ta abaixo, se for falso ele manda o que ta no else.


#### ELIF

`` if 1 == 3:
    print('First')
elif 3 == 4:
    print('middle')
else:
    print('last')
``

O elif funciona quando queremos fazer comparação com mais de 2 objetos, ele vai fazer a comparação na sequencia que foi declarado, na primeira que funcionar, ele para e executa o bloco de codigo.
Podemos colocar quantos elifs a gente quiser

In [5]:
if 1 > 2:
    print('yep')

In [6]:
if 1 == 2:
    print('First')
else:
    print('Last')

Last

In [11]:
if 1 == 3:
    print('First')
elif 3 == 2:
    print('middle1')
elif 3 == 3:
    print('middle2')
else:
    print('last')

middle2

In [13]:
if 1 == 3:
    print('First')
elif 3 == 2:
    print('middle1')
else:
    print('last')

last

### FOR

``seq = [1,2,3,4,5]
for item in seq:
    print(item) ``

Aqui nesse código, o termo ``item`` pode ser qualquer termo, uma variavel temporaria, é bom e é um bom uso colocar algo relacionado, nesse situação seria bom colocar ``num`` por ser uma lista de numeros.
A função que ta sendo executada para cada item na lista não precisa obrigatoriamente ter relação com a lista, por exemplo:

``seq = [1,2,3]
for num in seq:
    print('hello') ``
    
Que vai resultar em a palavra hello ser printada 3 vezes na tela.

In [14]:
seq = [1,2,3,4,5]

In [15]:
for item in seq:
    print(item)

1
2
3
4
5

In [16]:
for num in seq:
    print('hello')

hello
hello
hello
hello
hello

In [30]:
i = 1

### WHILE

`` i = 1``

``while i < 5:
    print('i e: {}'.format(i))
    i = i+1``
    
Aqui, o que o codigo faz é, começa setando a variavel para 1, depois faz o teste, i é menor que 5? então imprime na tela seguindo o forma ``i e: variavel`` e depois soma um valor no i usando ``i = i+1``, até que chegue na igualdade, onde a condição do while é falsa e o loop pode parar

In [31]:
while i < 5:
    print('i e: {}'.format(i))
    i = i+1

i e: 1
i e: 2
i e: 3
i e: 4


### RANGE

`` range(0,5)``

O range é uma função que gera uma lista populada pela sequencia de numeros que foi declara, nessa situação de 0 até a 5, facilita pq não precisamos declarar uma função só pra popular com uma lista sequencial

`` for x in range(0,6):
    print(x)``
 
 Essa função aqui, vai imprimir o caractere x 6 vezes, pq o range começa no 0 e vai até o 5
 Podemos usar ele com pipe em outras funções, 
 Para popular uma lista por exemplo:
 ``list(range(0,6))``
 
 Por padrão, o numero inicial é o zero, então podemos declarara apenas o numero final, caso a lista comece no zero
 
 ``list(range(10))``

In [24]:
range(0,6)

range(0, 6)

In [25]:
for x in range(0,6):
    print(x)

0
1
2
3
4
5

In [26]:
list(range(0,6))

[0, 1, 2, 3, 4, 5]

In [42]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

### LIST COMPREHENSION

Função que, ao inves de fazer duas listas separadas, ela popula uma lista baseada em outra

``x = [1,2,3,4] ``


``[num ** 2 for num in x]``

A função funciona da mesma forma que se tu fizer o seguinte

`` out = [] 
for num in x:
    out.append(num**2)``

O resultado é o mesmo nas duas funções.

In [36]:
x = [1,2,3,4]

In [37]:
out = []

In [34]:
for num in x:
    out.append(num ** 2)

In [40]:
print(out)

[1, 4, 9, 16]

In [39]:
out = [num ** 2 for num in x]

In [43]:
print(out)

[1, 4, 9, 16]

### Funções

Blocos de codigo que fazem uma ações especifica, que vai ser usada mais de uma vez e pode ser chamada.
Começa sendo declarada atraves de ``def``
Por exemplo, uma função para printar um parametro que ela recebe

``def my_func(param1):
    print(param1)``
    
Quando quiseremos realizar a operação que a função executa, só precisamos chamar ela e passar os parametros que ela recebe que ela vai retornar o que foi esperado, por exemplo:

``my_func('teste') `` 

Retorna apenas ``teste `` pq é o comando que a função executa

Funciona que nem no java, podemos concatenar as paradas, por exemplo:


``def my_func1(nome):
    print('Oi '+nome)``
    
Ai quando chamarmos a função, ela vai imprimir oi Lucas, caso seja isso que eu declare na função.


Outros exemplos:

`` def square(num):
    return num ** 2 ``

    
ai podemos armazenar o conteudo do retorno em alguma variavel

`` retorno = square(4) `` 

Depois podemos chamar o ``retorno`` para ver o que a função retornou.
Sempre importante documentar o que a função faz.
Para documentar, podemos usar o `` # `` quando for uma linha só, ou ``""" """"`` quando for um bloco de texto
No jupyter, podemos colocar o cursor no final da função apertar ``shift + tab`` para ver o que ela faz pela documentação, vai me ser mt util quando começar a usar as bibliotecas lá

In [44]:
def my_func(param1):
    print(param1)

In [46]:
my_func('teste')

teste

In [47]:
def my_func1(nome):
    print('Oi '+nome)

In [49]:
my_func1('lucas')

Oi lucas

In [54]:
def square(num):
    #Imprime o quadrado do numero declarado
    return num**2

In [53]:
retorno = square(4)

In [52]:
retorno

16

In [4]:
def square(num):
    """
    Imprime o quadrado do numero declarado
    """
    return num**2

# MAP()

Partindo de

`` seq = [1,2,3,4,5] ``

Vamo utilizar a função map().

Função map(), pela definição do python 

`` Make an iterator that computes the function using arguments from
each of the iterables.  Stops when the shortest iterable is exhausted. `` 
 
 Ou seja, vai correr a lista e executar determinado parametro, vai correr até o ultimo elemento. Executando determinada função.
 Por exemplo, a função em cima, ``square`` que retorna o quadrado do numero.
 
``map(square,seq)``

Retorna

``<map at 0x7fba08546650>``

Ou seja, alocou nesse espaço de memoria o resultado do map.
Se a gente quiser armazenar em uma lista, podemos passar a função dentro de um ``list()``


Então teremos 

`` list(map(square,seq))``

Que resulta no seguinte

``
[1,4,9,16,25]``

Exatamente o quadrado de cada objeto da lista inicial.

Essa função me economiza um for loop.

In [5]:
seq = [ 1,2,3,4,5]

In [6]:
map(square,seq)

In [7]:
list(map(square,seq))

[1, 4, 9, 16, 25]

# Lambda Expression

Basicamente uma função sem nome

`` lambda var:var**2 ``

Surte o mesmo efeito que

``def square(var):
    return var**2 ``
    
Ou seja, caso a função seja algo de uso unico, podemos utilizar o lambda para escrever direto, sem precisar definir uma função inteira. 

``lambda Objeto:Retorno``

---
## Map e Lambda

Aqui que fica interessante,

no map, por ser algo que não vai ser muito recorrente,
Podemos utilizar o lambda para utilizar no map
por exemplo:


`` list(map(lambda var:var**2, seq))``


Que vai surtir o mesmo efeito que a função separada, declarada e sendo chamada no map

In [8]:
list(map(lambda var:var**2, seq))

[1, 4, 9, 16, 25]

# Filter

Funciona similar com o map, mas ao inves de aplicar algo em uma array de numeros, ele filtra e retorna booleans


``filter(lambda num:num%2 == 0, seq) ``

Aqui, utilizamos o ``lambda`` para verificar os numeros que são pares(% retorna o resto da divisão, sendo a divisão por 2 == 0, o numero é par).

A função filter sozinha retorna apenas o local de memoria que foi a lista.

``list(filter(lambda num:num%2 == 0, seq))``

Retorna lista, contendo apenas os numeros pares do array inicial.

In [10]:
filter(lambda num:num%2 == 0, seq)

In [11]:
list(filter(lambda num:num%2 == 0, seq))

[2, 4]

# Metodos de String

Começamos definindo uma string

``s = 'oi, meu nome é lucas'``

No jupyter, podemos chamar a string, colocar um ``.`` depois dela e apertar tab que ele mostra as possibilidades

``s.lower()``

Retorna todos os caracteres da string em minusculo.

Aqui é importante salientar que a função precisa ter os parenteses no final, se não o retorno vai ser só sobre a função, não a execução dela

``s.upper()``
Retorna todos o caracteres da string em maisculo

``s.split()``

Aqui é interessante, ele pega cada elemento da string e cria um array, separando pelos espaços em branco
o resultado é 
``['oi', 'meu', 'nome', 'é', 'Lucas']``

Ele pega funções de array igual

O split, aceita parametros tambem, por exemplo,
``s.split('e')``

Ele vai popular o array, separando os elementos cada vez que ele ver um 'e'

In [15]:
s = 'oi meu nome é Lucas'

In [16]:
type(s)

str

In [17]:
s.lower()

'oi meu nome é lucas'

In [18]:
s.upper()

'OI MEU NOME É LUCAS'

In [19]:
s.split()

['oi', 'meu', 'nome', 'é', 'Lucas']

In [20]:
s.split()[2]

'nome'

In [21]:
s.split('e')

['oi m', 'u nom', ' é Lucas']

---
## Metodos para dicionarios

``d = {'k1':1, 'k2':2} ``

No mesmo sentido que as strings, quando colocamos um ``.`` no final, e abertamos tab, ele retorna os metodos para os dicionarios.

``d.keys()``

Retorna as keys, obviamente, do dicionario

``d.items()``

Retorna os itens do dicionario, chaves e seus conteudos.

``d.values()``

Retorna os valores. Os dicionarios não guardam uma ordem particular.

In [22]:
d = {'k1':1, 'k2':2}

In [23]:
d

{'k1': 1, 'k2': 2}

In [24]:
d.keys()

dict_keys(['k1', 'k2'])

In [25]:
d.items()

dict_items([('k1', 1), ('k2', 2)])

In [26]:
d.values()

dict_values([1, 2])

---
## Metodos para Lists


`` lst = [1,2,3] ``

Aqui, da mesma forma, o ``.`` e tab mostra os metodos possiveis para listas

``lst.pop()``

Remove e retorna o ultimo item da lista, a mudança é permanente, podemos por exemplo colocar em uma variavel o ultimo elemento sozinho.
por exemplo

``item = lst.pop()``

E depois chamarmos o ``item`` apenas, ele vai retornar o valor retirado da lista

O ``pop`` recebe algum elemente tambem, se quiseremos remover o primeiro elemento da lista podemos utilizar

``first = lst.pop(0)`` 

e iremos remover o elemento que esta na posição 0(o primeiro)

``lst.append('item')`` 

Que adiciona um item na ultima posição da lista



``5 in [1,2,3,4,5] ``

O metodo in, verificar se o elemento esta contido na lista e retorna um boolean

No exemplo de cima, se executarmos ele, vai retornar ``True`` , mas se executarmos por exemplo (executei primeiro quando o 5 estava entre aspas e retornou falso, hehe)


`` 'x' in [1,2,4] ``

O retorno é falso

In [33]:
lst = [1,2,3,4,5,6]

In [28]:
lst.pop()

3

In [29]:
lst

[1, 2]

In [34]:
item = lst.pop()

In [35]:
item

6

In [36]:
first = lst.pop(0)

In [37]:
lst

[2, 3, 4, 5]

In [38]:
first

1

In [39]:
lst.append(9)

In [40]:
lst

[2, 3, 4, 5, 9]

In [41]:
'5' in [1,2,3,4,5]

False

In [42]:
5 in [1,2,3,4,5]

True

# Tupla unpacking

Partindo de uma lista que os elementos são tuplas

``x = [(1,2),(3,4),(5,6)]``

Dessa forma, conseguimos chamar os elementos da tupla dentro da lista 

``x[0][0] ``   Aqui estamos chamando o primeiro elemento do primeiro elemento, que no caso é o elemento ``1``

Esse tipo de array é bem comum no python, podemos fazer então 

`` for item in x:
    print(item) 
``

Dessa forma, podemos reduzir os resultados

`` for (a,b) in x:
    print(a,b)``
    
  que resulta na mesma coisa,
  Ou,
  
  
`` for a,b in x:
    print(b)``
    
    
Que retorna apenas os 2 item das duplas, podemos dar um passo mais adiante ainda


`` for a,b in x:
    print(a)
    print(b)``
    
    
Que imprime a sequencia inteira das duplas em ordem

In [52]:
x = [(1,2),(3,4),(5,6)]

In [44]:
x[0][1]

2

In [45]:
for item in x:
    print(item)

(1, 2)
(3, 4)
(5, 6)

In [48]:
for item in x:
    print(item)

(1, 2)
(3, 4)
(5, 6)

In [50]:
for (a,b) in x:
    print(a,b)

1 2
3 4
5 6

In [51]:
for a,b in x:
    print(b)

2
4
6

In [53]:
for a,b in x:
    print(a)
    print(b)

1
2
3
4
5
6